<p>Olavo de Souto &copy; - Todos os direitos reservados</p>
      <p>
        Dados retirados de
        <a target="_blank" href="https://www.pokemon.com/br/pokedex/"
          >Pokédex</a
        >
      </p>